# Default ignored files
/../../../:tinkoff_algo/.idea/shelf/
/../../../:tinkoff_algo/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../:tinkoff_algo/.idea/httpRequests/
# Datasource local storage ignored files
/../../../:tinkoff_algo/.idea/dataSources/
/../../../:tinkoff_algo/.idea/dataSources.local.xml
